<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">-->
<!--    <test verbose="2" preserve-order="true" name="C:/Users/Nishant Garg/IdeaProjects/IntroductionToSelenium/src/main/resources">-->


<!--    <class name =""/>-->


<!--    <classes/>-->
<!--</test>-->
<!--</suite>-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="Test1">
        <classes>
            <class name="LoginTest"/>
            <class name="ClaimTest"/>
            <class name="LogoutTest"/>

        </classes>
    </test>
</suite>